* text=input
*.txt text
*.sh text eol=lf
*.java text
*.bat text eol=crlf
*.cmd text eol=crlf
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.zip binary
*.exe binary
*.gz binary
*.tar binary
*.pdf binary
*.jar binary
